<div th:fragment="admin_user_list">

<div id="nav-tab-table-header" class="container-fluid d-flex flex-row align-items-center p-3">
    <div  class="col-md-12">
        <h4>All users</h4>
    </div>
</div>
<div  class="container-fluid">
    <div  class="row">
        <div id="user_list" class="col-md-12">
            <table  id="user-table" class="table table-striped align-middle">
                <thead>
                <tr>
                    <th><h5><b>ID</b></h5></th>
                    <th><h5><b>First Name</b></h5></th>
                    <th><h5><b>Last name</b></h5></th>
                    <th><h5><b>Email</b></h5></th>
                    <th><h5><b>Birthdate</b></h5></th>
                    <th><h5><b>Phone</b></h5></th>
                    <th><h5><b>Role</b></h5></th>
                    <th><h5><b>Edit</b></h5></th>
                    <th><h5><b>Delete</b></h5></th>
                </tr>
                </thead>
                <tbody id="admin_panel_user_list_body">

                </tbody>
            </table>

        </div>
    </div>
</div>

</div>