<div th:fragment="user_info">

    <div id="nav-tab-table-header" class="container-fluid d-flex flex-row align-items-center p-3">
        <div  class="col-md-12">
            <h4>About user</h4>
        </div>
    </div>
    <div  class="container-fluid">
        <div  class="row">
            <div id="user_list" class="col-md-12">
                <table  id="user-table" class="table table-striped">
                    <thead>
                    <tr>
                        <th><h5><b>ID</b></h5></th>
                        <th><h5><b>First Name</b></h5></th>
                        <th><h5><b>Last name</b></h5></th>
                        <th><h5><b>Email</b></h5></th>
                        <th><h5><b>Birthdate</b></h5></th>
                        <th><h5><b>Phone</b></h5></th>
                        <th><h5><b>Role</b></h5></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table align-middle">
                        <td id="user_info_id"></td>
                        <td id="user_info_firstName"></td>
                        <td id="user_info_lastName"></td>
                        <td id="user_info_email"></td>
                        <td id="user_info_birthday"></td>
                        <td id="user_info_phoneNumber"></td>
                        <td id="user_info_roles"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>